.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: 0px 40px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-card {
  width: 300px;
  background-color: #e5ecef;
  border: 4px solid #e5ecef;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.restaurant-card:hover {
  border: 4px solid #a0a0a0;
  cursor: pointer;
  scale: 110%;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  width: 100%;
  height: 45%;
  border-radius: 8px;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filter-btn {
  margin: 20px 0px;
  cursor: pointer;
  font-size: 24px;
}

.rating-time-container {
  display: flex;
  justify-content: space-between;
}

.cuisines {
  height: 30px;
}

.restuarant-name {
  height: 30px;
}

.restuarant-content-container {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
}

.body {
  background-color: rgb(242, 247, 247);
}
